/* Button */
.btn{
  border-radius: 5rem;
}

p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
/* Top bar Style */
.top {
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: black;
  background: #207dff;
  color: #fff;
 }
  
    .top a {
      text-transform: uppercase;
      color: #fff; 
    font-size: 15px;}
      .top  a:last-child {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding-right: 15px; }
  @media (max-width: 991.98px) {
    .top {
      display: none; } } 

/* Navbar Style */
.navbar .container-fluid> a{
  font-size: 35px;
  font-weight: 800;
  color: #1a1a1a;

}
.navbar .navbar-nav{
  margin-left: 200px;
}
.navbar-light .navbar-nav .nav-link{
  color: #1a1a1a !important;
  font-size: 18px;
  font-weight: 500;
}
.collapse p a{
  border-radius: 5rem;
  font-size: 18px;
  font-weight: 400;
  background-color: #fe5f55;
  color: #fff;
  
}

/* Welcome Style */
.welcome {
  width: 100%;
  height: 700px;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }
.welcome span{
  color:#207dff;
  font-size: 20px;
}
.welcome p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
  .welcome h1{
    color: #000000;
    font-size: 50px;
    font-weight: 800;
  }
  @media (max-width: 991.98px) {
    .hero-wrap {
      background-position: center center !important; } }
  .welcome .slider-text {
    height: 700px; }
  .welcome .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: #000000; }
  .welcome.hero-wrap-2 {
    height: 600px;
    position: relative;
    background-position: top center; }
    .welcome.hero-wrap-2 .overlay {
      width: 100%;
      opacity: 0;
      background: #fff; }
    .welcome.hero-wrap-2 .slider-text {
      height: 600px; }


/* About Us Style */

@media (max-width: 1199.98px) {
  .about-background {
    background-position: center center !important;
  }
}

.about-background h2 {
  color: #000000;
  font-size: 40px;
  font-weight: 800;
}
.about-background h2 span{
  color: #207dff;
  font-size: 40px;
  font-weight: 800;
}


.about-background .img img {
  width: 520px;
  height:700px;
  
}

@media (max-width: 767.98px) {
  .about-background .img img {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 767.98px) {
  .about-background .btn {
    display: block;
    margin-bottom: 5px;
  }
}

.about-background .text {
  display: inline-block;
}
.about-background .text p {
  font-size: 24px;
  line-height: 1;
}
.about-background .text span.number {
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
}
.about-background .text span {
  color: black;
  margin-bottom: 10px;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 18px;
}

.about-background {
  overflow-x: hidden;
  position: relative;
}
@media (max-width: 1199.98px) {
  .ftco-counter {
    background-position: center center !important;
  }
}
.about-background .text strong.number {
  font-weight: 800;
  font-size: 44px;
  color: #fff;
  display: block;
}
.about-background .text span {
  display: block;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0;
}


/* Search Places */

.search-place {
  padding: 8em 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.95;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background: #207dff;
}
@media (max-width: 991.98px) {
  .search-place {
    background-position: center center !important;
  }
}
.search-place h2 {
  color: white;
  font-size: 50px;
  font-weight: 800;
}
.search-place p{
  margin-left: 60px;
  text-align: center;
}
.search-place p a{
  margin-left: 40px; 
  border-radius: 2rem;
  font-size: 18px;
  font-weight: 600;
} 
.about-background p a{
  border-radius: 2rem;
  font-size: 20px;
  
} 
.about-background p a:last-child{
  border-radius: 2rem;
  border: none;
  font-size: 20px;
  background-color: #fe5f55;
  
} 

.blog p a{
  border-radius: 2rem;
  font-size: 17px;
}
.welcome .mt-5 p a{
  border-radius: 5rem;
  font-size: 20px;
} 
/* Blog Section */
.blog h2 {
  color: #000000;
  font-size: 40px;
  font-weight: 800;
}
.blog {
  padding: 3em 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .sectionBlog {
    padding: 6em 0;
  }
}

.blog .headingBlog img{
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 270px;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .headingBlog {
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .headingBlog {
    margin-bottom: 30px;
  }
}

.headingBlog .text {
  text-decoration: none;
  position: relative;
  border-top: 0;
  border-radius: 2px;
  width: 100%;
}
.headingBlog .text .tag {
  text-decoration: none;
  color: #b3b3b3;
}
.headingBlog .text .heading {
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 16px;
}
.headingBlog .text .heading a {
  color: #000000;
  text-decoration: none;

}
.headingBlog .text .meta-chat {
  color: #fe5f55;
  text-decoration: none;
  font-size: 15px;

}
.headingBlog .text .read {
  color: #000000;
  font-size: 14px;
}

.headingBlog .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.headingBlog .meta > div a {
  color: #fe5f55;
  text-decoration: none;
  font-size: 15px;
}
.headingBlog .meta > div a:hover {
  color: black;
}

/* Contact Us Section */


.contact h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 800;
  }
  .contact {
    padding: 3em 0;
    position: relative;
  }
  @media (max-width: 767.98px) {
    .sectionContact {
      padding: 6em 0;
    }
  }
.contact .contact-info p a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 18px;
}
.contact .box {
  width: 100%;
  display: block;
  height: 400px;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .contact .box {
    margin-bottom: 30px;
  }
}
.contact .box .icon {
  width: 120px;
  height: 120px;
  background-color: white;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3em;
  border-radius: 50%;
}
.contact .box .icon i{
  color: #207dff;
  font-size: 30px;
}
.contact .box h3 {
  font-size: 20px;
  font-weight: 600;

  text-transform: uppercase;
}

.contact .contact-form {
  width: 100%;
}
.form-group p a{
  border-radius: 5rem;
  font-size: 20px;
  background-color: #fe5f55;
  color: #fff;
}
#map iframe{
  height: 600px;
  width:800px;}
  @media (max-width: 767.98px) {
    #map {
      height: 300px; } }


/* Footer */
.footer {
    font-size: 16px;
    padding: 5em ;
    position: relative;
    color:#1a1a1a;
    background-image: url("../assets/images/xfooter-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
}
